<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>우리동네 스터디</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap-social.css">
</head>
<body>
<nav class="navbar navbar-custom navbar-light navbar-expand-md fixed-top " style="background-color: rgba(255, 255, 255);">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="d-flex navbar-brand " href="/">집근처 스터디는?!</a>
     <a class="d-flex navbar-brand mx auto font-weight-bold" href="/">우리동네 스터디</a>
  <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <!--드롭다운-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          유형별검색
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:300px">
          <form class="px-4 py-3" action="/" method="post" >
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck" name="searchCategories" value="사기업">
                <label class="form-check-label" for="dropdownCheck">
                  사기업
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck2" name="searchCategories" value="공기업">
                <label class="form-check-label" for="dropdownCheck2">
                  공기업
                </label>
              </div>

              <div class="dropdown-divider"></div><!--선-->

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck3" name="searchCategories" value="인적성">
                <label class="form-check-label" for="dropdownCheck3">
                  필기
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck4" name="searchCategories" value="면접">
                <label class="form-check-label" for="dropdownCheck4">
                  면접
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck5" name="searchCategories" value="자소서">
                <label class="form-check-label" for="dropdownCheck5">
                  서류
                </label>
              </div>
              
            </div>
            
            <button type="submit" id="searchCategoriesBtn" class="btn btn-primary">검색</button>
          </form>
        </div>
      </li>

        <li class="nav-item" ><a href ="/study" class="nav-link "> 스터디 만들기 </a></li>
      <%# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          지역
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> %>
       
    </ul>

    <ul class="navbar-nav mr-auto">
    </ul>
    
      <ul class="navbar-nav ">
    
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login-tab" aria-selected="true">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">회원가입</a>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <div class="modal-body">
            <div class="tab-content" id="myTabContent">
              <!--로그인 탭 시작-->
              <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
                <form action="/login" method="POST">
                    <div class="form-group">
                      <input type="text" name="username" class="form-control mr-1 w-100" placeholder="아이디">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control w-100 mt-2" placeholder="비밀번호">
                    </div>
                    <a class="text-muted" href="/forgot" style="font-size:small">비밀번호 찾기</a>
                    <button class="btn btn-primary btn-block d-inline mt-2 mb-3" type="submit">확인</button>
                </form>
                <a class="btn btn-block btn-social btn-google" href="/auth/google" type="submit" style="color:white;"> <i class="fab fa-google"></i> 구글로 로그인 하기</a>
                <a class="btn btn-block btn-social" type="submit" href="/auth/naver" style="color:white; background:#1EC800; font-family: 'Nanum Gothic', sans-serif; font-weight: 700"> <div>N</div>  네이버로 로그인 하기</a>
                <span class="text-muted" style="font-size:small">회원님의 비밀번호와 개인정보는 저장되지 않습니다.</span>
              </div>
              <!--로그인 탭 끝-->
            
            <!-- 회원가입 탭 시작-->
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              <div class="modal-body">
                <div class="container ">
                  <div class="row justify-content-center">
                      <form onsubmit="return finalSubmit(event)">
                        <div id="checkIdArea" class="d-inline"></div> 
                          <div class=row>
                            <input type="text" class="form-control w-100 mb-1" id="userID" name="id" placeholder="아이디를 입력하세요" onkeyup="checkIdLength(this.value)">
                            <button class="btn btn-secondary btn-sm w-100 mb-3" onclick="checkId()">중복검사</button>
                          </div>
                    
                          <div class=row>
                            <input type="email" class="form-control w-100 mb-1" id="email" name="password" aria-describedby="emailHelp" placeholder="이메일 주소를 입력하세요">
                            <input type="password" class="form-control w-100 mb-1" id="password1" name="password" placeholder="비밀번호" onkeyup="checkFirstPassword(this.value)">
                            <div id="password1Label"></div>
                            <input type="password" class="form-control w-100 mb-1" id="password2" name="password" placeholder="비밀번호 확인" onkeyup="checkSecondPassword(this.value)">
                            <div id="password2Label"></div>
                            <div id="equalityMSG"></div>
                            <button type="submit" class="btn btn-primary btn-block">가입하기</button>
                            <small class="form-text text-muted">비밀번호는 단방향 해시 알고리즘을 통해 암호화되어 관리자도 알 수 없습니다.</small>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            <!--회원가입 탭 끝-->
          </div>
        </div><!--ㅡmodal body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
      
      <% if(!currentUser){ %>
      <li class="nav-item  font-weight-bold"><a class="nav-link"  href="#" data-toggle="modal" data-target="#loginModal">로그인</a></li>
       <!--  <li class="nav-item"><a class="nav-link" href="/auth/google"> <i class="fab fa-google"></i> </a></li> -->
        <!--<li class="nav-item font-weight-bold"><a class="nav-link" href="/register"> 회원가입 </a> </li> -->
      <% } else { %>
        <li class="nav-item"><a class="nav-link " href="/user/<%= currentUser._id %>/note" ><i class="far fa-paper-plane"></i></a></li>
        <li class="nav-item"><a class="nav-link " href="/user/<%= currentUser._id %>" ><i class="far fa-user-circle fa-lg" ></i></a></li>
        <li class="nav-item"><a class="nav-link " href="/user/<%= currentUser._id %>" > <%=currentUser.username%> 님 접속중 </a></li>
        <li class="nav-item"><a class="nav-link" href="/logout"> logout </a></li>
      <% } %>
      </ul>
  </div>
</nav>
 


<!--flash메세지 자리-->
<div class = "container">
  <!-- error자체가 빈배열로 오면 true여서 에러, error.length만 하면 error없을때 에러.. 따라서 이중처리함 -->
  <% if(error && error.length > 0){ %> 
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %> 
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>


<script src="/frontController/idCheck.js"></script>
<script src="/frontController/passwordCheck.js"></script>
<script>
    let isCheckedId = false
   
    function finalSubmit(e){
        e.preventDefault()
        var username = document.getElementById("userID").value
        var email = document.getElementById("email").value
        var password = document.getElementById("password1").value
        let passwordValidity = checkValadity();
       
       if (!isCheckedId) {
            document.getElementById("checkIdArea").innerHTML = `<span style="color: orange"> 아이디를 입력하세요 </sapn>`
            return false
        } 
        if (!passwordValidity) {
            alert("비밀번호를 확인하세요")
            return false
        }
        fetch("/register",{
            method: "POST",
            headers: new Headers({
                'Content-Type': "application/json"
            }),
             body: JSON.stringify({
                data: {username, email, password}
            })
        }).then(() => {
            window.location.href = "/"
        })
    }

</script>
