<%-include("./partials/header")-%>
<div class="container-fluid">
        <p> 개설된 스터디를 둘러보세요</p>
        <a class="btn btn-primary btn-large" href="/register"> 회원가입 하기</a>    
        <a class="btn btn-primary btn-large"  href ="/study">스터디 만들기</a>
        </p>
    
<div id=columns>   
        <% studys.forEach(function(study){ %>
            <figure>     
                <%= study.studyName %>
                <img src ="<%=study.img%> ">
               <figcaption> <a href ="/study/<%= study._id %>">read more</a></figcaption>
            </figure>
        <% }) %> 
</div>
</div>

<%-include("./partials/footer")-%>
