<%-include("../partials/header")-%>

<div class="container" style="padding-top:60px">
  <div class= "row justify-content-center">
    <div class= "col-lg-9 col-sm-12">
     

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">회원정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">개설스터디</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
           <strong><label for="inputEmail4" class="mt-3">닉네임</label></strong>
            <ul class="list-group list-group-flush mb-3">
              <a href="#" class="list-group-item list-group-item-action"><%= foundUser.username %></a>
            </ul>
                
          <strong>가입일</strong>
          <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"><%= moment(foundUser.createdDate).format("YYYY년 MM월 DD일") %></a>
          </ul>
        </div><!--회원정보 끝-->

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">개설일</th>
              </tr>
            </thead>
            <tbody>
              <% foundUser.ownStudy.forEach((study) => { %>
                <tr>
                  <td> <a href="/study/<%= study._id %>"><%=study.studyName%></a> </td>
                  <td>  <%= moment(study.makedDate).format("YY년 MM월 DD일 ") %> 개설 </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
            </ul>
        </div><!--내가 만든 스터디 끝-->

        

      </div><!--tap콘탠트 끝-->
    </div><!--col-->
  </div><!--row-->
</div><!--container-->
<%-include("../partials/footer")-%>