<%-include("../partials/header")-%>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a98a8e84860d087b0befdbe0ef46f489"></script>

<div class="container-fluid">
    <div class="row">
    <div class="col">
    </div>
        <div class="col-md-5">
            <div class="card mt-3" >
                <!--<img calss="img-responsive" src="<%= foundStudy.img %>" > %>--> 
                <div id="map" style="width:auto; height:280px;"></div>
                <div class="caption-full">
                    <h4><a><div class="text-center mb-4"><%= foundStudy.studyName %></div></a></h4>
                    <div class ="text-center ">
                        <div class="row justify-content-around">
                            <p class="text-muted  "> <i class="far fa-calendar-alt"></i> <%= moment(foundStudy.makedDate).format("YYYY년 MM월 DD일") %> </p>
                            <p class= "text-muted "> <i class="fas fa-user-edit"></i> <em ><%=foundStudy.author.username%></em> </p>
                            <p class="text-muted  "> <i class="fas fa-map-marker-alt"></i> <%= foundStudy.latlngs[0].locationName %></p>
                        </div>
                    </div>
                    <hr>
                    <p class=""> <%=foundStudy.description%></p>
                    <!--스터디 삭제-->
                    <% if (currentUser && currentUser._id.equals(foundStudy.author.id)) { %>
                        <form id="delete-form" action ="/study/<%= foundStudy._id %>/delete?_method=delete" method="POST">
                            <button class="pull-right btn btn-xs btn-danger" type='submit'>삭제하기</button>
                        </form> 
                        <!-- button대신 a태그 사용해야 가능-->
                        <a class="pull-right btn btn-xs btn-warning" href="/study/<%= foundStudy._id %>/edit"> 수정하기</a>
                    <% } %>
                        <!--a class="pull-right btn btn-xs btn-primary" href="/study/<%= foundStudy._id %>/user/new" method="POST"> 가입하기</a> -->
                </div>
            </div>
            <div class="well">
        
                <p>댓글</p>
                    <form action="/study/<%= foundStudy._id %>/comment/new" method="POST">
                        <input class="w-100" type="text" name="content">
                        <button class="btn btn-sm btn-light">입력</button>
                        <hr>
                    </form>
                
        
                <div class="row">
                    <div class="col-md-12">
                        <% foundStudy.comments.forEach(function(comment) { %>
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdDate).format("YYYY년 MM월 DD일") %></span>
                            <%= comment.content %>
                            <% if(currentUser && currentUser._id.equals(comment.author._id)) { %>
                                <a class="btn btn-xs btn-warning" href="/study/<%=foundStudy._id%>/comments/<%=comment._id%>/edit">수정하기</a>
                                <form id="delete-form" action ="/study/<%=foundStudy._id%>/comments/<%=comment._id%>/delete?_method=delete" method="POST">
                                    <button class="btn btn-xs btn-danger" type="submit">삭제하기</button> 
                                </form>
                            <% } %>
                        <hr>
                        <% }) %>
                    </div>
                </div>
            </div> 
        </div> 
        <div class="col"> 
        
        </div>
         <div class="row">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
  </div>
    </div>
</div>







<script type="text/javascript">
var mapContainer = document.getElementById('map');
mapOption = { 
    center: new daum.maps.LatLng(37.6512265449085, 127.076692983486), 
    level: 6 
};

var map = new daum.maps.Map(mapContainer, mapOption); 

window.onload = function() {  
    fetch("/study/getlatlng", {
        method:"post",
        headers: new Headers({ 'Content-Type': "application/json" }),
        body: JSON.stringify({id: '<%= foundStudy._id %>'})
    })
    .then((res)=> { return res.json() })
    .then((latlngs) => { 
        latlngs.forEach((latlng) => {
            setMarker(latlng);
            panTo(latlng)
            console.log(latlng);
        })
    })
}

function setMarker(latlng) {
  var markerPosition  = new daum.maps.LatLng(latlng.lat, latlng.lng); 
  var marker = new daum.maps.Marker({
    position: markerPosition
  });
    marker.setMap(map);
}

function panTo(latlng) {
    var moveLatLon = new daum.maps.LatLng(latlng.lat, latlng.lng);
    map.panTo(moveLatLon);            
}  

</script>

<%-include("../partials/footer")-%>