<%-include("../partials/header")-%>
     
    <div class="row">
        <div class ="col-md-3">
            <p class="lead">퍼팩트 스터디</p>
            <div class = "list-group">
                <li class="list-group-item active"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </div>
        </div>

        <div class="col-md-6">
            <div class=thumbnail>
                <img calss="img-responsive" src="<%= foundStudy.img %>" >
                <div class="caption-full">
                    <p class="pull-right">스터디 개설일: <%= moment(foundStudy.makedDate).format("YYYY년 MM월 DD일") %></p>
                    <h4><a><%= foundStudy.studyName %></a></h4>
                    <p>스터디 만든이: <em><%=foundStudy.author.username%></em></p>
                    <p>스터디 설명: <%=foundStudy.description%></p>
                    <p>스터디 위치: <%= foundStudy.location %><p>
                    <!--스터디 삭제-->
                    <% if (currentUser && currentUser._id.equals(foundStudy.author.id)) { %>
                        <form id="delete-form" action ="/study/<%= foundStudy._id %>/delete?_method=delete" method="POST">
                            <button class="pull-right btn btn-xs btn-danger" type='submit'>삭제하기</button>
                        </form> 
                        <!-- button대신 a태그 사용해야 가능-->
                        <a class="pull-right btn btn-xs btn-warning" href="/study/<%= foundStudy._id %>/edit"> 수정하기</a>
                    <% } %>
                        <a class="pull-right btn btn-xs btn-normal" href="/study/<%= foundStudy._id %>/user/new" method="POST"> 가입하기</a>
                        adsfsd
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <form action="/study/<%= foundStudy._id %>/comment/new" method="POST">
                        <input type="text" name="content">
                        <button>입력</button>
                        <hr>
                    </form>
                </div>
        
                <div class="row">
                    <div class="col-md-12">
                        <% foundStudy.comments.forEach(function(comment) { %>
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdDate).format("YYYY년 MM월 DD일") %></span>
                            <%= comment.content %>
                            <% if(currentUser && currentUser._id.equals(comment.author._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/study/<%=foundStudy._id%>/comments/<%=comment._id%>/edit">수정하기</a>
                                <form id="delete-form" action ="/study/<%=foundStudy._id%>/comments/<%=comment._id%>/delete?_method=delete" method="POST">
                                    <button class="btn btn-xs btn-danger" type="submit">삭제하기</button> 
                                </form>
                            <% } %>
                        <hr>
                        <% }) %>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
               
<%-include("../partials/footer")-%>