<%-include("../partials/header")-%>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a98a8e84860d087b0befdbe0ef46f489"></script>

<div class="container">
  <div class="row">
    <div class="col-md-4 font-weight-bold">
    
        <label class="d-block" >스터디 종류</label>
        <div class="form-group font-weight-light">  
          <div class="custom-control custom-checkbox d-inline " id="checkbox">
  
            <input type="checkbox" name="category" class="custom-control-input" id="customCheck1" value="사기업">
            <label class="custom-control-label" for="customCheck1">사기업</label>
          
          </div>
          <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" name="category" class="custom-control-input" id="customCheck2" value="공기업">
            <label class="custom-control-label" for="customCheck2">공기업</label>
          </div>
          <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" name="category" class="custom-control-input" id="customCheck3" value="인적성" >
            <label class="custom-control-label" for="customCheck3">인적성</label>
          </div>
          <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" name="category" class="custom-control-input" id="customCheck4" value="면접" >
            <label class="custom-control-label" for="customCheck4">면접</label>
          </div>
          <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" name="category" class="custom-control-input" id="customCheck5" value="자소서" >
            <label class="custom-control-label" for="customCheck5">자소서</label>
          </div>
        </div>
        <div class="form-group">
            <label for="studyName">스터디 이름</label>
            <input type="text" class="form-control" name ="studyName[study]" id="studyName" value="<%=foundStudy.studyName%>" required>
        </div>
        <div class="form-group">
            <label for="recruNum">모집인원</label>
            <select required class="form-control" id="recruNum" name="recruNum[Study]" value="<%=foundStudy.recruNum%>">
                
                <option value="" selected disabled hidden>모집인원</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">스터디 설명</label>
            <textarea class="form-control" id="description" name ="description[study]" value="<%=foundStudy.description%>" rows="5" required></textarea>
        </div>
          <input type="submit" class="btn btn-primary btn-block" id="makeStudy" value="수정">
        </div>
    <div class="col-md-8">
        <label for="map">스터디 희망 장소를 검색하고 등록하세요</label>
        <div id="map" style="width:100%;height:300px;"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 mt-2">
                    <input class="form-control" type="text" id="searchInput">
                </div>
                
                <div class="col-md-4 mt-2">
                    <input class="btn btn-primary btn-block" type="button" value="검색/등록" id="locbtn">
                </div>
                <div>
                    <div id="article"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/module.js"></script>

<script>
document.getElementById('locbtn').addEventListener('click', loadText);
document.getElementById('makeStudy').addEventListener('click', makeStudy);

// 스터디 수정하기 버튼 클릭
function makeStudy() {
  const studyName = document.getElementById('studyName').value;
  const categories = getCheckedCategoriesFor();
  //const imgurl = document.getElementById('imgurl').value;
  const latlngs = checkCheckbox.getCheckedLocs();
  const recruNum = document.getElementById('recruNum').value;
  const description = document.getElementById('description').value;
  const data = { studyName, categories, latlngs, recruNum, description }

  fetch("/study/<%= foundStudy._id %>/edit", { 
      method: "POST",
      redirect: 'follow',
      headers: new Headers({ 'Content-Type': "application/json" }),
      body: JSON.stringify({ data: data })
  }).then(window.location.href = "http://localhost:3000")
}// 수정하기

</script>

<%-include("../partials/footer")-%>
